[user]
	email = 37257700+Infinage@users.noreply.github.com
	name = infinage
[core]
	editor = nvim
	autocrlf = false
	fileMode = false
[credential]
	helper = store
[diff]
	tool = nvimdiff
[init]
	defaultBranch = main
[alias]
    unstage = reset HEAD --
    lo = log --oneline
    dt = difftool
    dts = difftool --staged
