infinage.space, localhost {
    redir https://github.com/infinage permanent
}

ascii-art.infinage.space, ascii-art.localhost {
    reverse_proxy ascii-art:80
}

url-shortner.infinage.space, url-shortner.localhost {
    reverse_proxy url-shortner:8080
}

calculator.infinage.space, calculator.localhost {
    reverse_proxy calculator:80
}

goduku.infinage.space, goduku.localhost {
    reverse_proxy goduku:80
}
